.signup_container {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    // background: linear-gradient(135deg, #0066ff, #00ccff);
    background-image: url("/images/Baner_img.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
  

  .signup_header {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 60%;
    transition: transform 0.3s ease-in-out;
  }
  
  .signup_header:hover {
    transform: scale(1.05);
  }
  
  .signup_header h1 {
    font-size: 2.5em;
  }
  
  .signup_header p {
    font-size: 1.2em;
  }
  

  .signup_options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
  }
  
  .signup_card {
    width: 300px;
    padding: 30px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  .signup_card h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .signup_card p {
    font-size: 1em;
  }
  
  .signup_card:hover {
    transform: translateY(-5px);
  }
  
